{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}
    <h1>Scraper Project</h1>
    <a href="/scraper" class="scraper_link">Go to Web Scraper</a>

    <!--   <div class="content">
           <form action="" method="POST" enctype="multipart/form-data">
               <div>
                   <p><label for="company">Company Name</label></p>
                   <p><input type="text" name="company" placeholder="add Company Name"></p>
               </div>
               <div>
                   <p><label for="title">Title</label></p>
                   <p><input type="text" name="title" placeholder="add title"></p>
               </div>
               <div>
                   <p><label for="url">Input url</label></p>
                   <p><input type="text" name="url" placeholder="add url"></p>
               </div>
               <div>
                   <p><label for="frequency">Frequency</label></p>
                   <p><input type="text" name="frequency" placeholder="add Frequency"></p>
               </div>
               <input type="file" name="file">
               <div></div>
               <button type="submit">Save It</button>
           </form>
           <hr>

           -->
    <h1>All licenses</h1>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Created Date</th>
            <th>URL</th>
            <th>Filepath</th>
            <th>Filetype</th>
            <th>Checksum</th>
            <th>Tags</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for license in licenses %}
            <tr>
                <td>{{ license.title }}</td>
                <td>{{ license.created_date }}</td>
                <td><a href="{{ license.url }}">{{ license.url }}</a></td>
                <td>{{ license.filepath }}</td>
                <td>{{ license.filetype }}</td>
                <td>{{ license.content_checksum }}</td>
                <td>
                    {% for tag in license.tags %}
                        {{ tag }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            <td><form action="{{ url_for('delete_license', id=license['_id']) }}" method="POST">
                <input type="submit" value="Delete License" onclick="return confirm('Are you sure to delete? ')">
            </form></td>
            </tr>

        {% endfor %}
        </tbody>
    </table>


    </div>

    </div>
{% endblock %}
