{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}
<div class="container-fluid">
    <form action="/licenses" method="POST" class="col-6">
        <div class="input-group pt-5">
            <input type="text" class="form-control form-control-lg" name="search" placeholder="Enter title"
                   value="{{ query }}">
            <button class="btn btn-success" type="submit">Search</button>
        </div>
    </form>

    <h1 class="mt-5">{% if query %} Results for "{{ query }}" {% else %}All licenses{% endif %}</h1>
    <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered">
            <thead class="table-secondary">
            <tr>
                <th class="col">Title</th>
                <th class="col">Created Date</th>
                <th class="col">URL</th>
                <th class="col">Filepath</th>
                <th class="col">Filetype</th>
                <th class="col">Checksum</th>
                <th class="col">Tags</th>
                <th class="col">Object View</th>
                <th class="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for license in licenses %}
            <tr>
                <td>{{ license.title }}</td>
                <td class="t-addon">{{ license.created_date }}</td>
                <td><a href="{{ license.url }}">{{ license.url }}</a></td>
                <td>{{ license.filepath }}</td>
                <td>{{ license.filetype }}</td>
                <td>{{ license.content_checksum }}</td>
                <td>
                    {% for tag in license.tags %}
                    {{ tag }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td><a href="/licenses/{{license._id}}">View changes</a></td>
                <td>
                    <form action="{{ url_for('delete_license', id=license['_id']) }}" method="POST">
                        <button type="submit" class="btn btn-danger"
                                onclick="return confirm('Are you sure to delete? ')">
                            Delete License
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>


        <div class="d-grid col-6 mt-5 mb-5">
            <a href="/" class="text-dark btn btn-info btn-lg">Back to Home</a>
        </div>
        <div class="d-grid col-6 mt-1 mb-5">
            <form action="{{ url_for('export_licenses')}}" method="POST">
                <button type="submit" class="btn btn-primary">
                    Export to CSV
                </button>
            </form>
        </div>
    </div>
</div>


<script>
    window.onload = loadme;

    function loadme() {
        // Update added on date
        document.querySelectorAll('.t-addon').forEach(function (element) {
            element.innerHTML = new Date(Number(element.innerHTML)).toLocaleString("en-AU", {timeZone: 'Australia/Sydney'});
        });
    }
</script>
{% endblock %}

