body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

form {
    background-color: azure;
    padding: 20px;
    border-radius: 10px;
}

.all_licenses {
    background-color: blanchedalmond;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
}

.scraper_link {
    font-size: 40px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}