body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
h1 {
    text-align: center;
}
td {
    word-wrap: break-word;
    max-width: 550px;
}
button {
    max-width: 100%;
}