body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: gray;
}
h1{
    text-align: center;
}
form{
    background-color: azure;
    padding: 20px;
    border-radius: 10px;
}
.all_licenses{
    background-color: blanchedalmond;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
}